.slide-bottom {
	-webkit-animation: slide-bottom 0.5s 0.3s both;
	        animation: slide-bottom 0.5s 0.3s both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
