:root {
  --bs-primary: #014282;
  --bs-success: #00A652;
}

.btn-primary, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-success {
  background-color: var(--bs-success) !important;
  border-color: var(--bs-success) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff !important;
}

.container {
  max-width: 1270px;
}

a{
  text-decoration: none;
  color: #004282;
}

.text-primary{
  color: #004282 !important;
}

.badge.bg-info{
background-color: #007382 !important;
}

.beritaCard .card-title{
  color: #004282;
}

.text-shadow{
  text-shadow: 0 0 15px #000;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: transparent;
  background-image: url('../img/grad2.png');
  background-size: 100% 100%;
  background-repeat: repeat-x;
  width: 100%;
  left:0;
  top:0;
  z-index: 1020;
  height: 250px;
  transition: height .35s ease;
  position:absolute;
}

.site-header.scroll {
  background-color: rgba(255, 255, 255, .85);
  background-image: none;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height: auto;
  position: fixed;
}

.site-header a {
  color: rgba(255,255,255,0.7);
  transition: all .15s ease-in-out;
  font-size: 13.5px;
}

.site-header.scroll a {
  color: rgba(0,0,0,0.8);
}

.site-header.scroll a:hover {
  color: #333;
}

.site-header a.menu-items, .menu-items,.site-header .dropdown {
  margin-top: 60px;
}

.site-header.scroll a.menu-items,.scroll .menu-items {
  margin-top: 18px;
}

.site-header.scroll .dropdown {
  margin-top: 19px;
}

.header-right{
color: rgba(255,255,255,0.8);
}

.site-header a:hover, .header-right:hover,.site-header a.menu-items.active, .menu-items.active {
  color: #fff;
  text-decoration: none;
}

.site-header.scroll a.menu-items.active{
  color: #000;
}

#rmenu{
color: #fff;
margin-top:-5px;
}

.site-header.scroll #rmenu{
color: #444;
}
 
 .mobile-menu li{
 border-bottom: 1px solid #eee;
 }
 
 .mobile-menu li:last-child{
 border-bottom: none;
 }
 
 .mobile-menu li a{
 display: block;
 color: #444;
 padding: 15px 0;
 }

 .mobile-menu li a.dropdown-item{
  padding: 15px;
 }

 .mobile-menu .dropdown-menu.show{
  position: relative !important;
  transform: none !important;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


.logo{
padding: 35px 17px  43px 17px;
background: #fff;
-webkit-border-bottom-right-radius: 109px;
-webkit-border-bottom-left-radius: 109px;
-moz-border-radius-bottomright: 109px;
-moz-border-radius-bottomleft: 109px;
border-bottom-right-radius: 109px;
border-bottom-left-radius: 109px;
}

.site-header.scroll .logo{
background: transparent;
padding:15px;
}

.logo img{
width: 60px;
height: auto;
transition: all .15s ease-in-out;
}

.site-header.scroll .logo img{
width: 50px;
}

.site-header.scroll #newSB{
  color: #333 !important;
}

h2.section-title{
  font-size: 2.5rem;
}

#beritaUtama{
/*height: 800px;*/
height:auto;
}

#beritaUtama .carousel-item{
height: 100%;
}

#beritaUtama .carousel-item .carousel-caption{
bottom: initial;
top: 35%;
margin: 0 auto;
max-width: 1270px;
}

#beritaUtama .carousel-item .carousel-caption h1{
font-weight: 700;
width: 50%;
}

#beritaUtama #klarifikasiBPOM{
position: absolute;
width: 100%;
left: 0;
bottom: 40px;
z-index:4;
}

#beritaUtama #klarifikasiBPOM h3{
font-size: 1.3rem;
font-weight: 700;
color: #fff;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
opacity: 0;
}

#beritaUtama:hover .carousel-control-next-icon, #beritaUtama:hover .carousel-control-prev-icon{
opacity: 1;
}

.swiperKlarifikasi {
  width: 100%;
  height: 105px;
}


.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
height: 1px;
bottom: -15px;
}

.swiper-scrollbar{
background: #fff;
}

.swiperMajalah .swiper-scrollbar{
background: #ccc;
}

.swiper-scrollbar-drag {
    height: 3px;
    background: #fff;
    border-radius: 2px;
    top: -1px;
}

.swiperMajalah .swiper-scrollbar-drag{
  background: #888;
}

.swiperKlarifikasi .swiper-slide{
  padding: 15px;
  background: rgba(0,0,0,0.5);
  background-image: none;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.swiperKlarifikasi .swiper-slide, .swiperKlarifikasi h4{
  color: #fff;
}

.swiperKlarifikasi h4{
  font-size: 0.65rem;
  font-weight: 600;
}

.swiperKlarifikasi .klarifikasi-meta{
  font-size: 0.6rem;
}

.swiperKlarifikasi .excerpt{
  font-size: 0.85rem;
  line-height: 1.2;
}

.swiper-overflow-container {
    overflow-x: hidden; /* prevent horizontal scroll */
}

.swiper-overflow-container .container {
    overflow: visible; /* if your container has overflow by default */
}

.swiper-overflow-container .swiper-container {
    overflow: visible; /* remove swiper container overflow */
}

.swiperLatest .card,#mostViewed .card,#siaranPers .card{
box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
margin-bottom: 15px;
}

.swiperLatest .card-img-overlay,#mostViewed .card-img-overlay,.swiperHot .card-img-overlay,.swiperSiaran .card-img-overlay{
background: url(../img/grad.png) repeat-x left bottom;
}

.swiperLatest .card-img-overlay .card-text, #mostViewed .card-img-overlay .card-text{
border-bottom: 1px solid rgba(255,255,255,0.58);
}

#latestUpdate,#hotIssue{
padding: 50px 0 75px 0;
background: #513f98 url(../img/latestbg.jpg) repeat-x 0 bottom;
}

#hotIssue{
  background: #274391 url(../img/hotbg.jpg) repeat-x 0 bottom;
}

#latestUpdate .swiper-horizontal>.swiper-scrollbar,#latestUpdate .swiper-scrollbar.swiper-scrollbar-horizontal{
bottom: 78px;
}


#layananPublik{
padding: 50px 0 0 0;
background: #eb5353 url(../img/layananbg.jpg) no-repeat right center fixed;
background-size: auto 100%;
}

.layananIcon img{
width: 90px;
height: auto;
display: block;
margin: 15px auto;
transition: all .3s ease;
border-radius: 17px;
}

.layananIcon img:hover{
transform: scale(1.1,1.1);
box-shadow: 0 0 25px rgba(255,255,255,0.95);
}

.layananIcon a h2{
font-size: 1rem;
text-align: center;
color: #fff;
margin-bottom: 15px;
}

.bmApp{
width: 500px;
height: auto;
display: block;
/*max-width: 90%;*/
margin-top: 25px;
position: relative;
right: -90px;
}

#siaranPers{
padding: 50px 0;
background: #73e3ff url(../img/persbg.jpg) no-repeat 0 0 fixed;
background-size: cover;
}
/*
#siaranPers .card{
border-left: 15px solid #fdf9e6;
}*/

#mostViewed{
padding: 50px 0;
background: #36ae7c url(../img/swirl.jpg) center 70% repeat-x;
background-size: auto 70%;
}

#mostViewed .card h2,#pengumuman h2{
font-size: 0.9rem;
}

/* Single Post/Berita */
.previewBerita h1{
font-size: 2rem; 
}

.previewBerita h2{
  font-size: 1.5rem; 
}

#fw{
background: #187498 url(../img/fw.jpg) no-repeat 0 0;
background-size: cover;
}

#fw p{
  margin-bottom:0;
}

#fw .sosmed p{
  display: inline;
}

#fw .sosmed .d-block{
  position: relative;
}


#fw .sosmed .d-block a{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  padding-left:30px;
}

#fw, #fw li a, #fw a, #fw a{
color: rgba(255,255,255,0.7);
}

#fw li a:hover, #fw a:hover, #fw h5{
color: #fff;
}

#waCC{
  position: fixed;
  right:30px;
  bottom: 20px;
  z-index: 5;
}

#waCC img{
  width: 110px;
  height: auto;
}

#mapWrapper{
  position: relative;
}

#mapWrapper::after{
  position: absolute;
  bottom:0;
  left:0;
  content: " ";
  width: 100%;
  height: 30px;
  background: #fff;
  z-index:9;
}

.appCat-title{
  color: #fff;
  display: block;
  margin:45px 0 25px 0;;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.site-header a.dropdown-item{
  color: #333;
}

#barPencarian{
  display: none;
  position: absolute;
  top: -101px;
  left: 139px;
  width: calc( 100% - 185px);
}

#sClose{
  display: none;
}

.site-header.scroll #barPencarian{
  top: -72px;
}

#filterVisitor{
    width: 465px;
    padding: 15px 25px;
    position: fixed;
    right: 30px;
    bottom: 45px;
    transform: translateX(130%);
    transition: all 1s ease;
    z-index:98;
    border-radius: 15px;
}

#visitCloseb{
  cursor:pointer;
}

#filterVisitor .pompi{
  width: 225px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top:-100px;
}

#filterVisitor.active{
  transform: translateX(0);
}

#demoVisitor .form-check{
  position: relative;
}

#demoVisitor .form-check-input{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity:0.01;
  cursor: pointer;
}

#demoVisitor .form-check-label{
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid #36ae7c;
  color: #36ae7c;
  font-size: 12px;
  border-radius: 8px;
  font-weight: bold;
  line-height: 14px;
  padding: 10px 0;
}

#demoVisitor .form-check:hover .form-check-label{
  border: 1px solid #36ae7c;
  background-color: #36ae7c;
  color: #fff;
}

#ratingWeb .form-check{
  display: inline-block;
  position: relative;
}

#ratingWeb .form-check input{
  opacity:0;
  position: relative;
  z-index:1;
}

#ratingWeb .form-check label{
  position: absolute;
  left:0;
  top:0;
  z-index:2;
  width:100%;
  height:100%;
  cursor:pointer;
}

#langSwitcher{
  display: inline-block;
  width: 84px;
  margin-top:-5px;
  margin-right:15px;
}

.grecaptcha-badge { 
  visibility: hidden;
}

#katabpomHero{
  padding: 170px 0 45px 0;
  background: rgb(176,233,226);
  background: radial-gradient(circle, rgba(176,233,226,1) 70%, rgba(97,192,213,1) 100%);
} 

#katabpomHero h1{
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 80px;
}

#katabpomHero h5{
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 48px;
}

#closevid{
  top: 5px;
  right: 0;
  z-index:81;
}


.swiper-button-next.infoarrow,
.swiper-button-prev.infoarrow,
.swiper-button-next.dokarrow,
.swiper-button-prev.dokarrow,
.swiper-button-next.reelarrow,
.swiper-button-prev.reelarrow,
.swiper-button-next.podarrow,
.swiper-button-prev.podarrow,
.swiper-button-next.magarrow,
.swiper-button-prev.magarrow
{
  padding: 15px 22px;
  border-radius: 100%;
  left:-25px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #333;
}

.swiper-button-next.magarrow,
.swiper-button-prev.magarrow{
  top: 63%;
  transform: translateY(-63%);
}

.swiper-button-next.podarrow,
.swiper-button-prev.podarrow{
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next.infoarrow,
.swiper-button-next.reelarrow,
.swiper-button-next.dokarrow,
.swiper-button-next.podarrow,
.swiper-button-next.magarrow
{
  right:-25px;
  left: initial;
}

.swiper-button-next.infoarrow::after,
.swiper-button-prev.infoarrow::after,
.swiper-button-next.reelarrow::after,
.swiper-button-prev.reelarrow::after,
.swiper-button-next.dokarrow::after,
.swiper-button-prev.dokarrow::after,
.swiper-button-next.podarrow::after,
.swiper-button-prev.podarrow::after,
.swiper-button-next.magarrow::after,
.swiper-button-prev.magarrow::after
{
  font-size: 16px;
}