@media (min-width: 768px){
  .col-md-2.layananIcon {width: 20.0%;}
  .legenda{width: 215px;top:-60px;position:relative;z-index:92;}
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {left: 1rem;}
}

@media (min-width: 1200px){
.spageh h1{font-size: 2.2rem;}
.mtm-5{
  margin-top: -120px;
}
#beritaUtama.rbCarousel .carousel-item .carousel-caption{
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  max-width: 1270px;
  }
}

@media screen and (min-width: 2000px){
  #beritaUtama .carousel-item .carousel-caption {top: 17%;}
}

@media screen and (max-width: 1436px){
  /*#beritaUtama .carousel-item img{width: auto !important; height: 100% !important;}  */
  .swiperKlarifikasi h4{font-size: 0.65rem;}
  #beritaUtama .carousel-item .carousel-caption h1{width: 63%;}
  #beritaUtama #klarifikasiBPOM{bottom:30px;}
  #beritaUtama .carousel-item .carousel-caption{top: 22%;}
}

@media screen and (max-width: 991px){
  .logo{/*width: 86px;*/ width: auto;padding: 15px 15px 31px 15px;margin-left: 15px;}
  .logo img{width: 55px;}
  .site-header a{font-size: 23px;}
  #langSwitcher img{width: 23px; height: auto;}
  #beritaUtama {height: auto;padding-bottom: 275px;background: #1a2853;}
  #beritaUtama.rbCarousel {padding-bottom: 90px;background: transparent;}
  #beritaUtama #klarifikasiBPOM{padding: 0;}
  .carousel-control-next-icon, .carousel-control-prev-icon{opacity: 1;}
  .menu-items{ margin-top: 17px;}
  /* #beritaUtama .carousel-item .carousel-caption{top: 39%;} */
  #beritaUtama .carousel-item .carousel-caption h1{width: 100%;}
  .site-header.scroll .menu-items {margin-top: 15px;}
  .carousel-control-prev{left: -10px;}
  .carousel-control-next{right: -10px;}
  #barPencarian{position:relative; width: 100%; left: 0;top: 15px;}
  #beritaUtama #klarifikasiBPOM {bottom: 45px;}
  #latestUpdate, #hotIssue{padding: 30px 0 60px 0;}
  #mostViewed{padding: 30px 0;}
  /* h2.section-title {font-size: 1.5rem;} */
  #beritaUtama .carousel-inner{overflow: visible;}
  #beritaUtama .carousel-item .carousel-caption {left: 0;right: 0;top: 100%;padding: 15px;background: rgba(0, 0, 0, 0.5);}
  #beritaUtama.rbCarousel .carousel-item .carousel-caption {background: #1a2853;}
  #beritaUtama .carousel-item .carousel-caption h1,#fw, #fw li a, #fw a, #fw a,.btn-group-lg>.btn, .btn-lg{font-size: 14px;}
  .swiperKlarifikasi h4,h3.section-title,h2.section-title,.layananIcon a h2{font-size: 11px;}
  #beritaUtama #klarifikasiBPOM h3,#fw .h5, #fw h5,.appCat-title{font-size: 1rem;}
  h2.section-title{font-size: 1.2rem;}
  #mostViewed .card h2, #pengumuman h2{font-size: 0.8rem;}
  .site-header a{font-size: 18px;}

  .swiper-button-next.infoarrow,
  .swiper-button-prev.infoarrow,
  .swiper-button-next.dokarrow,
  .swiper-button-prev.dokarrow,
  .swiper-button-next.reelarrow,
  .swiper-button-prev.reelarrow,
  .swiper-button-next.podarrow,
  .swiper-button-prev.podarrow,
  .swiper-button-next.magarrow,
  .swiper-button-prev.magarrow
  {
    left:0;
  }

  .swiper-button-next.infoarrow,
  .swiper-button-next.reelarrow,
  .swiper-button-next.dokarrow,
  .swiper-button-next.podarrow,
  .swiper-button-next.magarrow
  {
    right:0;
    left: initial;
  }

  #katabpomHero h5{font-size: 20px;}
  #katabpomHero h1{font-size: 50px;}
  .logokatabpom{width: 44px;margin-left:15px;}
  #katabpomHero{padding: 15px 0;}
}

@media screen and (max-width: 767px){
  #profileTab{display: block !important;}
  #v-pills-tab .nav-link{width: 100%; min-width: 100%; max-width: 100%; border:none;text-align:center;}
  #layananPublik{background: #eb5353 url(../img/layananbg.jpg) no-repeat left center fixed;}
  .bmApp{width:90%;right:0; margin: 30px auto;}
  .pengaduanicon{width: 48px; height: auto;}
  #ccGuy{margin-top:0;}
  /* #beritaUtama .carousel-item .carousel-caption h1{font-size:22px;} */
  .carousel-control-next, .carousel-control-prev{bottom:230px;}
  .rbCarousel .carousel-control-next, .rbCarousel .carousel-control-prev{bottom:90px;}
  .site-header.scroll #barPencarian {top: 15px;}
}

@media screen and (max-width: 540px){
  /* .swiperKlarifikasi h4 {font-size: 0.95rem;} */
  /* #beritaUtama .carousel-item .carousel-caption {left: 10%; right: 5%;top:32%;}  */
  #filterVisitor{width: 95%;width: calc(100% - 30px);right: 15px;bottom: 15px;transform: translateX(0);transform: translateY(130%);}
  #filterVisitor.active{transform: translateY(0);}
  .site-header{height: auto;position:static;background:#fff;}
  .logo{padding:0; margin-left:15px; margin-top:3px;box-shadow: none !important;}
  .logo img{width:45px;}
  .site-header a{color: #333;}
  .site-header a:hover{color: #000;}
  .site-header.scroll .logo{padding: 8px 0;}
  #hotIssue .card-img{width: 100% !important; height: auto !important;}
  #rmenu{color: #333;}
  .spageh{padding: 45px 0;}
  .spageh h1 {margin-top: 0 !important;font-size: 1.4rem;}
  .spageh .aligns-items-center{min-height: 245px;}
  .content-area {padding: 45px 0;}
  #v-pills-tab{height: 50px;border: 1px solid #ccc;margin: 0 !important;border-radius: 5px;margin-bottom: 30px !important;position: relative;overflow:hidden;}
  #v-pills-tab::before{content:"↓";position: absolute; right:15px;top:0px;z-index:5;font-size:30px;font-weight:bold;}
  #v-pills-tab:hover{height: auto;}
  #v-pills-tab:hover .nav-link{border-bottom: 1px solid #9d8f8f;}
  #v-pills-tab .nav-link.active{position: absolute;top:0;left:0;background-color: #fff;border-bottom: 1px solid #ccc;}
  #v-pills-tab:hover .nav-link.active{position: static;top:initial;left:initial;border-bottom: 1px solid #ccc;}
  /* h5.card-title{font-size: 1rem;} */
  .card-text,h5.card-title{font-size: 0.8rem;}
  .layananIcon img {width: 90%;}
  #newSB{color: #333 !important;}
}

@media screen and (max-width: 450px){
#demoVisitor .form-check-label {font-size:10px;}
}

/* @media screen and (max-width: 320px){
  .swiperKlarifikasi h4 {font-size: 1.0rem;}
} */
